In [2]:
import pandas as pd
import numpy as np

In [4]:
employee = pd.read_csv("Employee.csv")

In [13]:
employee.groupby(['Department'])['Salary'].mean().reset_index()

  Department  Salary
0         HR   45.00
1         IT   48.75
2      Sales   55.00

In [14]:
employee.pivot_table(index=('Department'),values=['Salary'],aggfunc=['mean'])

             mean
           Salary
Department
HR          45.00
IT          48.75
Sales       55.00

In [16]:
df = employee.pivot_table(index= ['Department'], values = ['Salary'], aggfunc = {'Department':'mean','Title':'mean'}).reset_index()

KeyError: "Column(s) ['Title'] do not exist"

In [18]:
pivot_table = pd.pivot_table(employee, index='Title', columns='Years', values='Salary', aggfunc='mean', fill_value='NaN')

print(pivot_table)

Years         1     2     3     4     7     8
Title
VP          NaN   NaN   NaN   NaN   NaN  70.0
analyst    35.0  30.0   NaN  35.0   NaN   NaN
associate   NaN  55.0  55.0   NaN  60.0   NaN

In [19]:
pivot_table = pd.pivot_table(employee, index=['Department', 'Title'], aggfunc={'Salary': 'mean', 'Title': 'count'})

print(pivot_table)

                      Salary  Title
Department Title
HR         VP           70.0      1
           analyst      32.5      2
IT         VP           70.0      1
           analyst      32.5      2
           associate    60.0      1
Sales      associate    55.0      2

In [21]:
pivot_table = pd.pivot_table(employee, 
                             index=['Department', 'Title'], 
                             aggfunc={'Salary': ['median', 'min', 'max', 'std']})

print(pivot_table)

                     Salary
                        max median min       std
Department Title
HR         VP            70   70.0  70       NaN
           analyst       35   32.5  30  3.535534
IT         VP            70   70.0  70       NaN
           analyst       35   32.5  30  3.535534
           associate     60   60.0  60       NaN
Sales      associate     55   55.0  55  0.000000

In [22]:
pivot_table = pd.pivot_table(employee, 
                             index=['Department', 'Title'], 
                             aggfunc={'Salary': ['median', 'min', 'max', 'std']},
                             fill_value=0)

print(pivot_table)

                     Salary
                        max median min       std
Department Title
HR         VP            70   70.0  70  0.000000
           analyst       35   32.5  30  3.535534
IT         VP            70   70.0  70  0.000000
           analyst       35   32.5  30  3.535534
           associate     60   60.0  60  0.000000
Sales      associate     55   55.0  55  0.000000

In [25]:
df = pd.DataFrame(employee)

pivot_table = pd.pivot_table(df, 
                             index='Department', 
                             values='Salary', 
                             aggfunc={'Salary': 'sum', 'Salary': 'count'}, 
                             fill_value=0)

In [27]:
df = pd.DataFrame(employee)

pivot_table = pd.pivot_table(df, index=['Department', 'Title'], aggfunc={'Years': 'sum', 'Salary': 'mean'})

print(pivot_table)

                      Salary  Years
Department Title
HR         VP           70.0      8
           analyst      32.5      6
IT         VP           70.0      8
           analyst      32.5      3
           associate    60.0      7
Sales      associate    55.0      5

In [28]:
df = pd.DataFrame(employee)

def mean_with_max_removed(arr):
    return (arr.sum() - arr.max()) / (arr.count() - 1)

pivot_table = pd.pivot_table(df, 
                             index='Department',
                             values='Salary',
                             aggfunc=mean_with_max_removed,
                             fill_value=0)
print(pivot_table)

               Salary
Department
HR          32.500000
IT          41.666667
Sales       55.000000